.luoluo-indented-tree{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 960px;
  height: 480px;
  overflow: auto;

  &-container{
    position: relative;
    width: 100%;
    height: 100%;

    .g6-minimap{
      position: absolute;
      background-color: #fff;
      width: 200px;
      height: 160px;
      bottom: 0;
    }
  }
}
